
{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      {% include "info_user.html" %}
     <!-- Начало блока с отдельным постом -->
        <div class="card mb-3 mt-1 shadow-sm">
          <div class="card-body">
            <p class="card-text"></p>
              {% for post in page %}
              <h3>
                  Автор: {{ profile }}
              </h3>
              
              <p>{{ post|linebreaksbr }}</p>
              
            
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group ">
                <!-- Ссылка на страницу записи в атрибуте href-->
               <a class="btn btn-sm text-muted" href="{{ profile.username }}" role="button">
                  Добавить комментарий
                </a>
                <!-- Ссылка на редактирование, показывается только автору записи.
                Эту ссылку вы подключите в финальном задании спринта -->
                <a class="btn btn-sm text-muted" href="/{{ profile.username }}/{{ post.id }}/edit/" role="button">
                  Редактировать
                </a>
               </div>
                <small class="text-muted"> {{ post.pub_date|date:"d M Y" }} </small>
            </div>
            {% endfor %}
          </div>
        </div>
     {% include "paginator.html" %}
 {% include "footer.html" %}
{% endblock %}
     </div>
  </div>
</main>